<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title float_page">Shop List</div>
      <div class="right">
        <a class="link icon-only popover-open switch-theme" data-popover=".filter-mens" href="#">
          <i class="icon f7-icons">funnel_fill</i>
        </a>
        <div class="popover filter-mens">
          <div class="popover-inner">
            <div class="list list-dividers">
              <ul id="category-filter">
               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tabs custom-tabs">
    <div class="tab tab-active" id="fashions">

      <div class="page-content">
        <swiper-container class="full-width categories-slider" style="margin-top: 0px;" slides-per-view="auto" space-between="10"
          slides-offset-after="15" slides-offset-before="15" speed="400">
          <swiper-slide>
            <a class="tab-link fashion-link tab-link-active category-slide"  id="all" data-floor="all"></a>
          </swiper-slide>

        </swiper-container>
        <div class="shops-subtitle light-gray-title">Fashion</div>
         <div class="tabs custom-tabs">
            <div class="tab" data-floor="all">All</div>
            <!-- Add more floor tabs here -->
        </div>

        <div class="album-grid" id="load_data">
            <!-- Album items will be dynamically loaded here -->
        </div>
      </div>
    </div>
    
    <div class="tab" id="toy">
      <div class="page-content">
        <swiper-container class="full-width categories-slider" style="margin-top: 0px;" slides-per-view="auto" space-between="10"
          slides-offset-after="15" slides-offset-before="15" speed="400">
          <swiper-slide>
            <a class="tab-link toy-link tab-link-active category-slide" href="#toyall">Show all</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link toy-link category-slide" href="#toyfirst">1st</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link toy-link category-slide" href="#toysecond">2nd</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link toy-link category-slide" href="#toythird">3rd</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link toy-link category-slide" href="#toyfourth">4th</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link toy-link category-slide" href="#toyfifth">5th</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link toy-link category-slide" href="#toysixth">6th</a>
          </swiper-slide>
        </swiper-container>
        <div class="shops-subtitle light-gray-title">Toy</div>
        <div class="tabs custom-tabs">
          <div class="tab tab-active" id="toyall">
            <div class="grid grid-cols-2 album-grid">
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Shirts</div>
                  <div class="album-author">FnB</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Jeans</div>
                  <div class="album-author">Fashions</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/3.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Track suit</div>
                  <div class="album-author">Baby</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/4.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">T Shirt</div>
                  <div class="album-author">Home</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/5.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Suits</div>
                  <div class="album-author">Solstice Band</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/6.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Harmonic Z</div>
                  <div class="album-author">DJ Horizon</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">Phoenix Guys</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Novanation</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/3.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Lumina</div>
                  <div class="album-author">Aurora Angel</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/4.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Euphorianum</div>
                  <div class="album-author">Cascade</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/5.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reverie</div>
                  <div class="album-author">Solstice Band</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/6.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Harmonic Z</div>
                  <div class="album-author">DJ Horizon</div>
                </div>
              </a>
            </div>
          </div>
          <div class="tab" id="toyfirst">
            <div class="grid grid-cols-2 album-grid">
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">FNB</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Fashions</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">Phoenix Guys</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Novanation</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/6.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Harmonic Z</div>
                  <div class="album-author">DJ Horizon</div>
                </div>
              </a>
            </div>
          </div>
          <div class="tab" id="toysecond">
            <div class="grid grid-cols-2 album-grid">
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">FNB</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Fashions</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">Phoenix Guys</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>    
    </div>

    <div class="tab" id="mens">
      <div class="page-content">
        <swiper-container class="full-width categories-slider" style="margin-top: 0px;" slides-per-view="auto" space-between="10"
          slides-offset-after="15" slides-offset-before="15" speed="400">
          <swiper-slide>
            <a class="tab-link mens-link tab-link-active category-slide" href="#mensall">Show all</a>
          </swiper-slide>
        <div class="swiper-wrapper"></div>
        </swiper-container>
        <div class="shops-subtitle light-gray-title">Mens</div>
        <div class="tabs custom-tabs">
          <div class="tab tab-active" id="mensall">
            <div class="grid grid-cols-2 album-grid">
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Shirts</div>
                  <div class="album-author">FnB</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Jeans</div>
                  <div class="album-author">Fashions</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/3.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Track suit</div>
                  <div class="album-author">Baby</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/4.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">T Shirt</div>
                  <div class="album-author">Home</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/5.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Suits</div>
                  <div class="album-author">Solstice Band</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/6.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Harmonic Z</div>
                  <div class="album-author">DJ Horizon</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">Phoenix Guys</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Novanation</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/3.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Lumina</div>
                  <div class="album-author">Aurora Angel</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/4.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Euphorianum</div>
                  <div class="album-author">Cascade</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/5.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reverie</div>
                  <div class="album-author">Solstice Band</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/6.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Harmonic Z</div>
                  <div class="album-author">DJ Horizon</div>
                </div>
              </a>
            </div>
          </div>
          <div class="tab" id="mensfirst">
            <div class="grid grid-cols-2 album-grid">
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">FNB</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Fashions</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">Phoenix Guys</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Novanation</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/6.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Harmonic Z</div>
                  <div class="album-author">DJ Horizon</div>
                </div>
              </a>
            </div>
          </div>
          <div class="tab" id="menssecond">
            <div class="grid grid-cols-2 album-grid">
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">FNB</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Fashions</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">Phoenix Guys</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab" id="womens">
      <div class="page-content">
        <swiper-container class="full-width categories-slider" style="margin-top: 0px;" slides-per-view="auto" space-between="10"
          slides-offset-after="15" slides-offset-before="15" speed="400">
          <swiper-slide>
            <a class="tab-link womens-link tab-link-active category-slide" href="#womensall">Show all</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link womens-link category-slide" href="#womensfirst">1st</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link womens-link category-slide" href="#womenssecond">2nd</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link womens-link category-slide" href="#womensthird">3rd</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link womens-link category-slide" href="#womensfourth">4th</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link womens-link category-slide" href="#womensfifth">5th</a>
          </swiper-slide>
          <swiper-slide>
            <a class="tab-link womens-link category-slide" href="#womenssixth">6th</a>
          </swiper-slide>
        </swiper-container>
        <div class="shops-subtitle light-gray-title">Womens</div>
        <div class="tabs custom-tabs">
          <div class="tab tab-active" id="womensall">
            <div class="grid grid-cols-2 album-grid">
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Shirts</div>
                  <div class="album-author">FnB</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Jeans</div>
                  <div class="album-author">Fashions</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/3.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Track suit</div>
                  <div class="album-author">Baby</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/4.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">T Shirt</div>
                  <div class="album-author">Home</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/5.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Suits</div>
                  <div class="album-author">Solstice Band</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/6.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Harmonic Z</div>
                  <div class="album-author">DJ Horizon</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">Phoenix Guys</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Novanation</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/3.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Lumina</div>
                  <div class="album-author">Aurora Angel</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/4.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Euphorianum</div>
                  <div class="album-author">Cascade</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/5.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reverie</div>
                  <div class="album-author">Solstice Band</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/6.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Harmonic Z</div>
                  <div class="album-author">DJ Horizon</div>
                </div>
              </a>
            </div>
          </div>
          <div class="tab" id="womensfirst">
            <div class="grid grid-cols-2 album-grid">
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">FNB</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Fashions</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">Phoenix Guys</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Novanation</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/6.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Harmonic Z</div>
                  <div class="album-author">DJ Horizon</div>
                </div>
              </a>
            </div>
          </div>
          <div class="tab" id="womenssecond">
            <div class="grid grid-cols-2 album-grid">
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">FNB</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/2.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Strong Serenity</div>
                  <div class="album-author">Fashions</div>
                </div>
              </a>
              <a href="/album/" class="link">
                <img src="img/albums/1.jpg" alt="">
                <div class="album-details">
                  <div class="album-title">Reflection</div>
                  <div class="album-author">Phoenix Guys</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
