<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">Author List</div>
    </div>
  </div>
  <div class="page-content">
    <swiper-container class="full-width categories-slider" style="margin-top: 0px;" slides-per-view="auto" space-between="10" slides-offset-after="15" slides-offset-before="15" speed="400">
      <swiper-slide>
        <a class="tab-link tab-link-active category-slide" href="#sports">Sports</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#tech">Technology</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#economics">Economics</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#science">Science</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#fashion">Fashion</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#art">Art</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#music">Music</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#travel">Travel</a>
      </swiper-slide>
    </swiper-container>
    <div class="tabs custom-tabs">
      <div class="grid grid-cols-2 grid-gap tab tab-active" id="sports">
        <div class="list detailed-list list-dividers full-width author-list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/11.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile/" class="item-title">
                    <div class="item-name">Olivia Adams</div>
                    <div class="item-footer">Sports Journalist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Noah Campbell</div>
                    <div class="item-footer">War Reporter</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/4.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">William Taylor</div>
                    <div class="item-footer">Digital Marketer</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid grid-cols-2 grid-gap tab" id="tech">       
        <div class="list detailed-list list-dividers full-width author-list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/11.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Olivia Adams</div>
                    <div class="item-footer">Sports Journalist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Noah Campbell</div>
                    <div class="item-footer">War Reporter</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/4.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">William Taylor</div>
                    <div class="item-footer">Digital Marketer</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/5.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Ethan Jameson</div>
                    <div class="item-footer">Industry Analyst</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/9.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Amelia Foster</div>
                    <div class="item-footer">Social Media Specialist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid grid-cols-2 grid-gap tab" id="fashion">
        <div class="list detailed-list list-dividers full-width author-list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/11.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Olivia Adams</div>
                    <div class="item-footer">Sports Journalist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Noah Campbell</div>
                    <div class="item-footer">War Reporter</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid grid-cols-2 grid-gap tab" id="economics">
        <div class="list detailed-list list-dividers full-width author-list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/9.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Amelia Foster</div>
                    <div class="item-footer">Social Media Specialist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid grid-cols-2 grid-gap tab" id="science">
      
        <div class="list detailed-list list-dividers full-width author-list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Noah Campbell</div>
                    <div class="item-footer">War Reporter</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/4.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">William Taylor</div>
                    <div class="item-footer">Digital Marketer</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/9.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Amelia Foster</div>
                    <div class="item-footer">Social Media Specialist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid grid-cols-2 grid-gap tab" id="art">
        <div class="list detailed-list list-dividers full-width author-list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/11.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Olivia Adams</div>
                    <div class="item-footer">Sports Journalist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Noah Campbell</div>
                    <div class="item-footer">War Reporter</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/4.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">William Taylor</div>
                    <div class="item-footer">Digital Marketer</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/5.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Ethan Jameson</div>
                    <div class="item-footer">Industry Analyst</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/9.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Amelia Foster</div>
                    <div class="item-footer">Social Media Specialist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/11.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Olivia Adams</div>
                    <div class="item-footer">Sports Journalist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Noah Campbell</div>
                    <div class="item-footer">War Reporter</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/11.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Olivia Adams</div>
                    <div class="item-footer">Sports Journalist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Noah Campbell</div>
                    <div class="item-footer">War Reporter</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid grid-cols-2 grid-gap tab" id="music">
        <div class="list detailed-list list-dividers full-width author-list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Noah Campbell</div>
                    <div class="item-footer">War Reporter</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid grid-cols-2 grid-gap tab" id="travel">
        <div class="list detailed-list list-dividers full-width author-list">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/11.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Olivia Adams</div>
                    <div class="item-footer">Sports Journalist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/3.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Noah Campbell</div>
                    <div class="item-footer">War Reporter</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/4.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">William Taylor</div>
                    <div class="item-footer">Digital Marketer</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/5.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Ethan Jameson</div>
                    <div class="item-footer">Industry Analyst</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-media"><img src="img/avatars/9.jpg" alt=""></div>
                <div class="item-inner">
                  <a href="/profile" class="item-title">
                    <div class="item-name">Amelia Foster</div>
                    <div class="item-footer">Social Media Specialist</div>
                  </a>
                  <div class="item-after">
                    <div class="button button-fill button-round color-dark button-icon-left author-follow">
                      <i class="icon f7-icons">plus</i>
                      Follow
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
