<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title float_page">Event List</div>
    </div>
  </div>
  <div class="page-content">
    <div class="list detailed-list list-dividers full-width" style="margin-top: 0px;">
      <ul class="event-all">

       
      </ul>
    </div>
    <!-- <div class="light-gray-title">Style 2 With Icons</div> -->
    <!-- <div class="list detailed-list list-dividers full-width">
      <ul>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media event-icon"><i class="icon f7-icons">sportscourt_fill</i></div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-name">24 January 2024</div>
                <div class="item-footer">Basketball Game at Torronto</div>
              </div>
              <div class="item-after event-time">8:00 PM</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media event-icon"><i class="icon f7-icons">scissors</i></div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-name">12 February 2024</div>
                <div class="item-footer">Barber at Montreal</div>
              </div>
              <div class="item-after event-time">4:00 PM</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media event-icon"><i class="icon f7-icons">tickets_fill</i></div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-name">12 February 2024</div>
                <div class="item-footer">Avengers Movie at cinema</div>
              </div>
              <div class="item-after event-time">6:30 PM</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media event-icon"><i class="icon f7-icons">person_3_fill</i></div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-name">27 February 2024</div>
                <div class="item-footer">Business Meeting</div>
              </div>
              <div class="item-after event-time">2:00 PM</div>
            </div>
          </a>
        </li>
        <li>
          <a href="#" class="item-link item-content">
            <div class="item-media event-icon"><i class="icon f7-icons">hammer_fill</i></div>
            <div class="item-inner">
              <div class="item-title">
                <div class="item-name">11 March 2024</div>
                <div class="item-footer">Work on the house</div>
              </div>
              <div class="item-after event-time">9:30 PM</div>
            </div>
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</div>
