<div class="page">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon f7-icons arrow-back">arrow_left</i>
        </a>
      </div>
      <div class="title">ABC Mall's Shop</div>
      <div class="right">
        <a class="link icon-only popover-open switch-theme" data-popover=".filter-women" href="#">
          <i class="icon f7-icons">funnel_fill</i>
        </a>
        <div class="popover filter-women">
          <div class="popover-inner">
            <div class="list list-dividers">
              <ul>
                <li><a class="list-button item-link" href="/album-list/fashion/">Fashion</a></li>
                <li><a class="list-button item-link" href="/album-list/toy/">Toy</a></li>
                <li><a class="list-button item-link" href="/album-list/mens/">Men</a></li>
                <li><a class="list-button item-link" href="/album-list/women/">Women</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="page-content">
    <swiper-container class="full-width categories-slider" style="margin-top: 0px;" slides-per-view="auto" space-between="10"
      slides-offset-after="15" slides-offset-before="15" speed="400">
      <swiper-slide>
        <a class="tab-link tab-link-active category-slide" href="#womenall">Show all</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#womenfirst">1st</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#womensecond">2nd</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#womenthird">3rd</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#womenfourth">4th</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#womenfifth">5th</a>
      </swiper-slide>
      <swiper-slide>
        <a class="tab-link category-slide" href="#womensixth">6th</a>
      </swiper-slide>
    </swiper-container>
    <div class="shops-subtitle light-gray-title">Women</div>
    <div class="tabs custom-tabs">
      <div class="tab tab-active" id="womenall">
        <div class="grid grid-cols-2 album-grid">
          <a href="/album/" class="link">
            <img src="img/albums/1.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Suits</div>
              <div class="album-author">FnB</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/2.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Dress</div>
              <div class="album-author">Fashions</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/3.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Tops</div>
              <div class="album-author">Baby</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/4.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Bottoms</div>
              <div class="album-author">Home</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/5.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Reverie</div>
              <div class="album-author">Solstice Band</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/6.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Harmonic Z</div>
              <div class="album-author">DJ Horizon</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/1.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Reflection</div>
              <div class="album-author">Phoenix Guys</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/2.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Strong Serenity</div>
              <div class="album-author">Novanation</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/3.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Lumina</div>
              <div class="album-author">Aurora Angel</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/4.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Euphorianum</div>
              <div class="album-author">Cascade</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/5.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Reverie</div>
              <div class="album-author">Solstice Band</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/6.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Harmonic Z</div>
              <div class="album-author">DJ Horizon</div>
            </div>
          </a>
        </div>
      </div>
      <div class="tab" id="womenfirst">
        <div class="grid grid-cols-2 album-grid">
          <a href="/album/" class="link">
            <img src="img/albums/1.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Reflection</div>
              <div class="album-author">FNB</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/2.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Strong Serenity</div>
              <div class="album-author">Fashions</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/1.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Reflection</div>
              <div class="album-author">Phoenix Guys</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/2.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Strong Serenity</div>
              <div class="album-author">Novanation</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/6.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Harmonic Z</div>
              <div class="album-author">DJ Horizon</div>
            </div>
          </a>
        </div>
      </div>
      <div class="tab" id="womensecond">
        <div class="grid grid-cols-2 album-grid">
          <a href="/album/" class="link">
            <img src="img/albums/1.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Reflection</div>
              <div class="album-author">FNB</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/2.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Strong Serenity</div>
              <div class="album-author">Fashions</div>
            </div>
          </a>
          <a href="/album/" class="link">
            <img src="img/albums/1.jpg" alt="">
            <div class="album-details">
              <div class="album-title">Reflection</div>
              <div class="album-author">Phoenix Guys</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
